
<!--Contenedor principal-->
<div class="ubimp-container">

    <!-- Barra de herramientas -->
    <mat-toolbar color="primary" class="ubimp-toolbar" role="heading" 
    [class.is-mobile]="mobileQuery.matches"
    >
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1>{{ 'main.title' | translate }}</h1>
        <div class="fill-remaining-space">
          <h1 style="text-align: center">{{sideNavMode}}</h1>
        </div>
        <div>
          <button mat-icon-button (click)="settingsTogle()">
              <mat-icon>settings</mat-icon>
          </button>
        </div>
    </mat-toolbar>
    
  
  
    <mat-sidenav-container class="sidenav-container" 
    [class.is-mobile]="mobileQuery.matches"
    autosize
    >
      
      <mat-sidenav #snav 
                  position="start" role="navigation"
                  [mode]="sideNavMode"
                  [fixedInViewport]="mobileQuery.matches">
                  
                  <mat-nav-list>
                  <a mat-list-item routerLink="home"> {{ 'main.items.item1' | translate }} </a>
                  <a mat-list-item routerLink="zones"> {{ 'main.items.item2' | translate }} </a>
                </mat-nav-list>
      </mat-sidenav>
  
      <!-- <mat-sidenav #rightSnav mode="side"
                             [fixedInViewport]="mobileQuery.matches"
                             position="end"
                             >
                  <mat-nav-list>
                    <a mat-list-item routerLink="home"> home </a>
                    <a mat-list-item routerLink="zones"> zones </a>
                  </mat-nav-list>
      </mat-sidenav> -->
  
      <mat-sidenav-content role="main">
        
          <router-outlet></router-outlet>
        <!-- <table style="width: 100%;height:100%;border-collapse: collapse;">
          <tr>
            <td>
              <div style="height: auto;">
            </div></td>
          </tr>
          <tr style="height: 100%">
              <td>
                <div style="height: 100%">
                  
              </div>
            </td>
            </tr>
        </table> -->
      </mat-sidenav-content>
    </mat-sidenav-container>
  
    
  
  
  </div>