<h2 *ngIf="isAddingVehicle === true" mat-dialog-title>
  {{ 'settings.addVehicle.title' | translate }}
</h2>
<h2 *ngIf="isAddingVehicle === false" mat-dialog-title>
  {{ 'settings.vehicle.update.title' | translate }}
</h2>
<mat-dialog-content>
    <form  [ngSwitch]="objectTypeAsNumber" #addVehicleForm="ngForm">
        <div>
          <label class="typeLabel">{{ 'settings.addVehicle.type' | translate }}: &nbsp;{{ selectedObjectTypeTag | translate }}  </label>
          <br/>
          <br/>
          <div style=" text-align: center;">
        <mat-button-toggle-group 
          #group="matButtonToggleGroup"
          [(ngModel)]="addVehicle.objectTypeId"
          name="objectTypeId"
          required
          >
          <mat-button-toggle value="1" aria-label="Text align left">
            <mat-icon fontSet="fa" fontIcon="fa-car"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="2" aria-label="Text align center">
            <mat-icon fontSet="fa" fontIcon="fa-taxi"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="3" aria-label="Text align right">
            <mat-icon fontSet="fa" fontIcon="fa-truck-pickup"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="4" aria-label="Text align justify">
            <mat-icon fontSet="fa" fontIcon="fa-truck"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="5" aria-label="Text align justify">
            <mat-icon fontSet="fa" fontIcon="fa-motorcycle"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="6" aria-label="Text align justify">
            <mat-icon fontSet="fa" fontIcon="fa-bicycle"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="7" aria-label="Text align justify">
            <mat-icon fontSet="fa" fontIcon="fa-male"></mat-icon>
          </mat-button-toggle>
          <mat-button-toggle value="8" aria-label="Text align justify">
            <mat-icon fontSet="fa" fontIcon="fa-map-marker-alt"></mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      </div>
      <br/>

      <mat-form-field
        *ngIf="isAddingVehicle === true"
        class="addVehicleFormField">
        <mat-label>{{ 'settings.addVehicle.imei' | translate }}</mat-label>
        <mat-select 
        name="imei"
        #imeiControl="ngModel"
        [(ngModel)]="this.addVehicle.imei"
         required>
          <mat-option *ngFor="let device of devices" [value]="device.imei">
            {{device.imei}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="imeiControl.invalid && (imeiControl.dirty || imeiControl.touched)">
          {{ 'settings.addVehicle.imeiRequired' | translate }}
        </mat-error>
      </mat-form-field>

      <table style="width: 100%;">
        <tr>
          <td style="width: 95%;">
            <mat-form-field class="addVehicleFormField">
              <mat-label>{{ 'settings.addVehicle.vehicleGroup' | translate }}</mat-label>
              <mat-select
              name="vehicleGroup"
              #vehicleGroupControl="ngModel"
              [(ngModel)]="this.addVehicle.vehicleGroupName"
              required >
                <mat-option *ngFor="let vehiclesGroup of vehiclesGroups"
                [value]="vehiclesGroup.name">
                  {{vehiclesGroup.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="vehicleGroupControl.invalid && (vehicleGroupControl.dirty || vehicleGroupControl.touched)">
                {{ 'settings.addVehicle.vehicleGroupRequired' | translate }}
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <div class="add-group-btn"
            style="text-align: center;"
            (click)="addVehicleGroup()">
            <mat-icon>add</mat-icon>
            </div>
          </td>
        </tr>
      </table>
      <table style="width: 100%;" *ngIf="addingVehicleGroup === true">
        <tr>
          <td style="width: 90%;">
            <div style="margin-left:2px; margin-right: 8px;">
              <input style="width: 100%;"
              name="newVehicleGroup"
              placeholder="{{ 'settings.vehicle.add.addVehicleGroupHolder' | translate }}"
              [(ngModel)]="newVehicleGroupName"
              #newVehicleGroupControl="ngModel"
              >
            </div>
          </td>
          <td>
            <div class="check-small-btn"
            style="text-align: center;"
            (click)="saveVehicleGroup()"
            >
              <mat-icon [inline]="true">check</mat-icon>
            </div>
          </td>
          <td>
            <div class="cancel-small-btn"
              style="text-align: center;"
              (click)="saveVehicleGroup()"
              >
              <mat-icon [inline]="true">close</mat-icon>
            </div>
          </td>
        </tr>
      </table>
      
      
    
      <mat-form-field class="addVehicleFormField" *ngSwitchCase="[6, 7, 8] | switchMulticase:objectTypeAsNumber">
            <mat-label>{{ 'settings.addVehicle.vehicleName' | translate }}</mat-label>
            <input matInput 
            #vehicleNameControl="ngModel"
            [(ngModel)]="this.addVehicle.name"
            name="vehicleName"
            placeholder="{{ 'settings.addVehicle.vehicleNamePlaceHolder' | translate }}" 
            class="vehicleNameFormInput" required>
            <mat-error *ngIf="vehicleNameControl.invalid && (vehicleNameControl.dirty || vehicleNameControl.touched)">
              {{ 'settings.addVehicle.vehicleNameRequired' | translate }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="addVehicleFormField" class="addVehicleFormField" *ngSwitchCase="[1, 2, 3, 4, 5] | switchMulticase:objectTypeAsNumber">
          <mat-label>{{ 'settings.addVehicle.brand' | translate }}</mat-label>
          <mat-select
          name="brand"
          #brandControl="ngModel"
          [(ngModel)]="addVehicle.brand"
          (selectionChange)="onBrandChange($event)"
          required >
            <mat-option *ngFor="let brand of brands" [value]="brand.name" >
              {{brand.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="addVehicleFormField" *ngSwitchCase="[1, 2, 3, 4, 5] | switchMulticase:objectTypeAsNumber">
          <mat-label>{{ 'settings.addVehicle.model' | translate }}</mat-label>
          <mat-select 
          name="model"
          #modelControl="ngModel"
          [(ngModel)]="addVehicle.model"
          required >
            <mat-option *ngFor="let model of models" [value]="model.name">
              {{model.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="modelControl.invalid && (modelControl.dirty || modelControl.touched)">
            {{ 'settings.addVehicle.modelRequired' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="addVehicleFormField" *ngSwitchCase="[1, 2, 3, 4, 5] | switchMulticase:objectTypeAsNumber">
          <mat-label>{{ 'settings.addVehicle.year' | translate }}</mat-label>
          <input matInput
          #yearControl="ngModel"
          [(ngModel)]="this.addVehicle.year"
          name="year"
          maxlength="4"
          min=1900
          required
          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
          type="number" placeholder="{{ 'settings.addVehicle.yearHolder' | translate }}">
          <mat-error *ngIf="yearControl.invalid && (yearControl.dirty || yearControl.touched)">
            {{ 'settings.addVehicle.yearRequired' | translate }}
          </mat-error>
      </mat-form-field>

      <mat-form-field class="addVehicleFormField" *ngSwitchCase="[1, 2, 3, 4, 5] | switchMulticase:objectTypeAsNumber">
          <mat-label>{{ 'settings.addVehicle.licensePlate' | translate }}</mat-label>
          <input matInput  name="licensePlate" #licensePlateControl="ngModel" [(ngModel)]="this.addVehicle.licensePlate" placeholder="{{ 'settings.addVehicle.licensePlateHolder' | translate }}" required >
          <mat-error *ngIf="licensePlateControl.invalid && (licensePlateControl.dirty || licensePlateControl.touched)">
            {{ 'settings.addVehicle.licensePlateRequired' | translate }}
          </mat-error>
      </mat-form-field>

      <mat-form-field class="addVehicleFormField">
        <mat-label>{{ 'settings.addVehicle.description' | translate }}</mat-label>
        <input matInput  name="description" #descriptionControl="ngModel"
        [(ngModel)]="this.addVehicle.description" placeholder="{{ 'settings.addVehicle.descriptionHolder' | translate }}" >
    </mat-form-field>

    </form>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>{{ 'cancel' | translate }}</button>
  <button mat-button [mat-dialog-close]="addVehicle" [disabled]="!addVehicleForm.form.valid">{{ 'save' | translate }}</button>
</mat-dialog-actions>
