
.mat-ink-bar {
    background-color: #00FF00 !important;
  }

  .settings-container {
    padding: 15px;
    background-color: #373740;
  }


  .settings-sidenav-tab-icon-svg {
    transform: scale(1.5);
    margin-right: 15px;
    color: #ffffff;
  }

  .settings-sidenav-tab-label {
    color: #ffffff;
    text-align: end;
    font-size: 18px;
  }

  .settings-sidenav-tab-icon {
    transform: scale(2.3);
    margin-top: 20px;
    margin-right: 13px;
    color: #ffffff;
  }