<div class="settings-container" >
<mat-tab-group mat-align-tabs="start" 
    (selectedTabChange)="onSelectedTabChange()"
    [(selectedIndex)]="selectedTab"
    style="background-color: #373740; color: white;">
    <mat-tab label="{{'settings.vehicles' | translate }}" > 
        <ng-template mat-tab-label>
            <div>
                <!-- <mat-icon  class="home-sidenav-tab-icon">directions_car</mat-icon> -->
                <mat-icon class="settings-sidenav-tab-icon-svg" svgIcon="car"></mat-icon>
            </div>
            <div class="settings-sidenav-tab-label" ><h4>{{ 'settings.vehicles' | translate }}</h4></div>
        </ng-template>
        <div>
            <mat-list>
                <div *ngFor="let group of groups">
                    <h3 matSubheader>{{group.name}}</h3>
                    <mat-list-item *ngFor="let vehicle of group.vehicles">
                        <mat-icon matListIcon>{{vehicle.icon}}</mat-icon>
                        <h4 matLine>{{vehicle.name}}</h4>
                        <p matLine class="demo-2"> {{vehicle.description}} </p>
                     </mat-list-item>
                     <mat-divider></mat-divider>
                </div>
             </mat-list>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <!-- <mat-icon  class="home-sidenav-tab-icon">directions_car</mat-icon> -->
                <!-- <mat-icon class="settings-sidenav-tab-icon-svg" svgIcon="car"></mat-icon> -->
                <mat-icon fontSet="fa" class="settings-sidenav-tab-icon" fontIcon="fa-users"></mat-icon>
            </div>
            <div class="settings-sidenav-tab-label" ><h4>{{ 'settings.users' | translate }}</h4></div>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <div>
                <!-- <mat-icon  class="home-sidenav-tab-icon">directions_car</mat-icon> -->
                <!-- <mat-icon class="settings-sidenav-tab-icon-svg" svgIcon="car"></mat-icon> -->
                <mat-icon fontSet="fa" class="settings-sidenav-tab-icon" fontIcon="fa-cogs"></mat-icon>
            </div>
            <div class="settings-sidenav-tab-label" ><h4>{{ 'settings.others' | translate }}</h4></div>
        </ng-template>
        <div>
            Content 3
        </div>
    </mat-tab>
  </mat-tab-group>
  <button mat-fab 
            *ngIf="showAddVehicleButton"
             style="right: 20px;
             bottom: 20px;
             left: auto;
             position: absolute;"
             (click)="addVehicle()"
             aria-label="Add button"
             >
            <mat-icon style="font-weight: bold; color: #373740;">add</mat-icon>
          </button>
</div>