
<div class="ubimp-container">
    <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #navHome
              position="end" 
              [mode]="sidebarMode"
              [opened]="settingsOpenedObs | async"
              role="region"
              style="background-color: #373740"
              >
            <button mat-icon-button aria-label="pin" (click)="sidebarToogle()">
              <mat-icon
              [ngClass]="{'home-sidenav-tool-bar-icon-svg-over': sidebarMode === 'over', 'home-sidenav-tool-bar-icon-svg-side':sidebarMode === 'side' }"
              class="" svgIcon="pin" ></mat-icon>
            </button>
            
            <mat-tab-group style="background-color: #373740; color: white;">
              <mat-tab >
                <ng-template mat-tab-label>
                    <div>
                        <!-- <mat-icon  class="home-sidenav-tab-icon">directions_car</mat-icon> -->
                        <mat-icon class="home-sidenav-tab-icon-svg" svgIcon="car" ></mat-icon>
                    </div>
                    <div class="home-sidenav-tab-label" ><h4>{{ 'home.vehicles' | translate }}</h4></div>
                </ng-template>
                <!-- style="border-color: yellowgreen; border-style: dotted; border-width: 2px;" -->
                <mat-list >
                <mat-list-item *ngFor="let vehicle of vehicles" [ngSwitch]="vehicle.status">
                    
                        <!-- <mat-icon *ngSwitchCase="0" mat-list-icon [inline]="true"
                        class="home-sidenav-vehicle-item-icon-normal">directions_car</mat-icon> -->

                        <mat-icon *ngSwitchCase="0" mat-list-icon [inline]="true"
                        class="home-sidenav-vehicle-item-icon-normal-svg" svgIcon="car"></mat-icon>
                        
                        <mat-icon *ngSwitchCase="1" mat-list-icon [inline]="true"
                        class="home-sidenav-vehicle-item-icon-warning-svg" svgIcon="car"></mat-icon>
                        
                        <mat-icon *ngSwitchCase="2" mat-list-icon [inline]="true"
                        class="home-sidenav-vehicle-item-icon-danger-svg" svgIcon="car"></mat-icon>

                        <h5 mat-line class="home-sidenav-vehicle-item-name"> {{vehicle.name}} </h5> 
                    
                        <h5 mat-line class="home-sidenav-vehicle-item-description"> {{vehicle.description}}  </h5> 

                        <div *ngIf="vehicle.online === true" mat-line class="home-sidenav-vehicle-item-online"> <strong>Online</strong>  </div> 
                        <div *ngIf="vehicle.online === false" mat-line class="home-sidenav-vehicle-item-offline"> <strong>Offline</strong> </div> 

                        <!-- <div *ngSwitchCase="0" mat-line class="home-sidenav-vehicle-item-status-normal">  Normal </div> 
                        <h5 *ngSwitchCase="1" mat-line class="home-sidenav-vehicle-item-status">  Warning </h5> 
                        <h5 *ngSwitchCase="2" mat-line class="home-sidenav-vehicle-item-status">  Danger </h5>  -->
                        
                        
                        <div>
                            <label class="home-sidenav-vehicle-item-show-on-map" >{{ 'home.showOnMap' | translate }}</label>
                            <mat-slide-toggle [(ngModel)]="vehicle.showOnMap" (ngModelChange)="showOnMap($event,vehicle.id)" ></mat-slide-toggle>
                        </div>

                        
                        <mat-divider class="home-sidenav-vehicle-item-divider" ></mat-divider>
                        
                </mat-list-item>
              </mat-list>
              </mat-tab>
  
              <mat-tab >
                <ng-template mat-tab-label>
                    <div><mat-icon  class="home-sidenav-tab-icon">settings</mat-icon></div>
                    <div class="home-sidenav-tab-label" ><h4>{{ 'home.settings' | translate }}</h4></div>
                </ng-template>
  
                <div style="height: 400px; margin: 15px; ">
                  <table style="width: 95%;border-collapse:separate;
                  border-spacing:0 10px;">
                    <tr  >
                      <td style="vertical-align: top;">{{ 'home.realTime' | translate }}</td>
                      <td style="vertical-align: top; text-align: right;">
                        <div style="display: inline-block;"> 
                            <mat-slide-toggle [ngModel]="homeInputs.realTimeEnabled" (ngModelChange)="homeInputsHandler($event, 0)"></mat-slide-toggle>
                        </div>
                        
                      </td>
                    </tr>
  
                    <tr>
                      <td style="vertical-align: top;">{{ 'home.autoZoom' | translate }}</td>
                      <td style="vertical-align: top; text-align: right;">
                        <div style="display: inline-block;"> 
                            <mat-slide-toggle [(ngModel)]="homeInputs.autoZoomEnabled" (ngModelChange)="homeInputsHandler($event, 1)"></mat-slide-toggle>
                        </div>
                      </td>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;">{{ 'home.showUserLocation' | translate }}</td>
                        <td style="vertical-align: top; text-align: right;">
                          <div style="display: inline-block;"> 
                              <mat-slide-toggle id="toogleShowUserLocation"  [ngModel]="homeInputs.showUserLocation" (ngModelChange)="homeInputsHandler($event, 2)"></mat-slide-toggle>
                          </div>
                        </td>
                      </tr>

                  </table>
                  
                </div>
  
              </mat-tab>
            
            </mat-tab-group>
          
          
  
    <!-- <mat-nav-list>
      <a mat-list-item routerLink="home">  Home </a>
      <a mat-list-item routerLink="zones"> Zone </a>
    </mat-nav-list> -->
  </mat-sidenav>
  
  <mat-sidenav-content role="region" >
    <app-google-map 
    #mapComponent
    (ready)="onMapReady($event)"
    [markers]="markersObs | async"
    [latitude]="latitude | async"
    [longitude]="longitude | async"
    [autoZoom]="homeInputs.autoZoomEnabled"
    >
    </app-google-map>
  
  </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div class="overlay" *ngIf="loading === true" >
    <div class="progress-spinner-margin">
      <mat-progress-spinner 
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    </div>
